<div id="navigation">
    <!--  Navigation  -->
    <div id="wellcome">
            Wellocme <%= user %>
    </div>

    <div id="nav-bar">
        <div> <a href="/"> Home </a></div>
        <div> <a href="/weekly-report"> Week Report </a> </div>
        <div> <a href="/logout"> Logout </a> </div>
    </div>
</div> <!-- / Navigation -->