<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://kit.fontawesome.com/9b7b53cce3.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "icon" href = "/images/logo.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="/css/home.css">


</head>

<body class="img js-fullheight" style="background-image: url(images/big.jpg);">


    <!-- <div id="main-div">
        <h1>
            <%= //title %>
        </h1> <!--  Heading --> <!-- / Heading -->

    
    <%- body %>

</body>

</html>